In [45]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (1.4.0)
Requirement already satisfied: joblib>=1.2.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.19.5 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from scikit-learn) (1.26.3)
Requirement already satisfied: scipy>=1.6.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from scikit-learn) (3.2.0)
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [46]:
pip install termcolor

Requirement already satisfied: termcolor in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (2.4.0)
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [47]:
pip install plotly

Requirement already satisfied: plotly in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (5.18.0)
Requirement already satisfied: packaging in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from plotly) (23.2)
Requirement already satisfied: tenacity>=6.2.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from plotly) (8.2.3)
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [48]:
pip install imblearn

Requirement already satisfied: imblearn in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from imblearn) (0.12.0)
Requirement already satisfied: joblib>=1.1.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.3.2)
Requirement already satisfied: scipy>=1.5.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.12.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (3.2.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.26.3)
Requirement already satisfied: scikit-learn>=1.0.2 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.4.0)
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [49]:
pip install squarify

Requirement already satisfied: squarify in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (0.4.3)
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [50]:
pip install pandas

Requirement already satisfied: pandas in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from pandas) (2023.4)
Requirement already satisfied: pytz>=2020.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from pandas) (1.26.3)
Requirement already satisfied: six>=1.5 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [51]:
pip install matplotlib

Requirement already satisfied: matplotlib in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (3.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib) (4.47.2)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: numpy<2,>=1.21 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib) (1.26.3)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib) (6.1.1)
Requirement already satisfied: packaging>=20.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib) (23.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: cycler>=0.10 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: pillow>=8 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: zipp>=3.1.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.17.0)
Requirement already satisfied: six>=1.5 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [52]:
pip install seaborn

Requirement already satisfied: seaborn in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from seaborn) (1.26.3)
Requirement already satisfied: pandas>=1.2 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from seaborn) (2.2.0)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from seaborn) (3.8.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.47.2)
Requirement already satisfied: cycler>=0.10 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: pillow>=8 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.1)
Requirement already satisfied: zipp>=3.1.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.17.0)
Requirement already satisfied: pytz>=2020.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from pandas>=1.2->seaborn) (2023.4)
Requirement already satisfied: six>=1.5 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [53]:
pip install matplotlib-venn

Requirement already satisfied: matplotlib-venn in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (0.11.10)
Requirement already satisfied: numpy in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib-venn) (1.26.3)
Requirement already satisfied: scipy in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib-venn) (1.12.0)
Requirement already satisfied: matplotlib in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib-venn) (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib->matplotlib-venn) (1.2.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib->matplotlib-venn) (1.4.5)
Requirement already satisfied: pillow>=8 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib->matplotlib-venn) (10.2.0)
Requirement already satisfied: packaging>=20.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib->matplotlib-venn) (23.2)
Requirement already satisfied: cycler>=0.10 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib->matplotlib-venn) (0.12.1)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib->matplotlib-venn) (6.1.1)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib->matplotlib-venn) (3.1.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib->matplotlib-venn) (4.47.2)
Requirement already satisfied: python-dateutil>=2.7 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib->matplotlib-venn) (2.8.2)
Requirement already satisfied: zipp>=3.1.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib->matplotlib-venn) (3.17.0)
Requirement already satisfied: six>=1.5 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib->matplotlib-venn) (1.16.0)
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [54]:
pip install tqdm

Requirement already satisfied: tqdm in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (4.66.1)
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [55]:
pip install squarify

Requirement already satisfied: squarify in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (0.4.3)
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [56]:
pip install imblearn

Requirement already satisfied: imblearn in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (0.0)
Requirement already satisfied: imbalanced-learn in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from imblearn) (0.12.0)
Requirement already satisfied: joblib>=1.1.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (3.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.4.0)
Requirement already satisfied: scipy>=1.5.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.12.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.26.3)
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [57]:
# Import data processing & analysis packages.

## Data Processing.
import pandas as pd
import numpy as np
import os

## Data Visualisation.
import matplotlib.pyplot as plt
import seaborn as sns
from termcolor import colored
import plotly.express as px
from matplotlib_venn import venn2

## Machine Learning.

from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score,accuracy_score,classification_report
from tqdm import tqdm
from itertools import cycle
from sklearn import metrics
from sklearn import model_selection
from sklearn import preprocessing
from sklearn import feature_selection
import squarify
import imblearn

## Warning indication.
import warnings
warnings.filterwarnings('always')

In [58]:
# Find data extraction path.

os.getcwd()

'/Users/ephraim888sun/Code/class/spring2024/CS7324/ML7324_Project_1_Income'

Data Understanding

In [59]:
# Import Datasets.

df = pd.read_csv("Train.csv")


# Display the first 5 rows of the train dataset.
df.head(5)

,ID,age,gender,education,class,education_institute,marital_status,race,is_hispanic,employment_commitment,unemployment_reason,employment_stat,wage_per_hour,is_labor_union,working_week_per_year,industry_code,industry_code_main,occupation_code,occupation_code_main,total_employed,household_stat,household_summary,under_18_family,veterans_admin_questionnaire,vet_benefit,tax_status,gains,losses,stocks_status,citizenship,mig_year,country_of_birth_own,country_of_birth_father,country_of_birth_mother,migration_code_change_in_msa,migration_prev_sunbelt,migration_code_move_within_reg,migration_code_change_in_reg,residence_1_year_ago,old_residence_reg,old_residence_state,importance_of_record,income_above_limit
0,ID_TZ0000,79,Female,High school graduate,NaN,NaN,Widowed,White,All other,Not in labor force,NaN,0,0,NaN,52,0,Not in universe or children,0,NaN,2,Householder,Householder,NaN,NaN,2,Head of household,0,0,292,Native,95,US,US,US,?,?,?,?,NaN,NaN,NaN,1779.74,Below limit
1,ID_TZ0001,65,Female,High school graduate,NaN,NaN,Widowed,White,All other,Children or Armed Forces,NaN,0,0,NaN,0,0,Not in universe or children,0,NaN,0,Nonfamily householder,Householder,NaN,NaN,2,Single,0,0,0,Native,94,US,US,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,2366.75,Below limit
2,ID_TZ0002,21,Male,12th grade no diploma,Federal government,NaN,Never married,Black,All other,Children or Armed Forces,NaN,0,500,No,15,41,Hospital services,26,Adm support including clerical,4,Child 18+ never marr Not in a subfamily,Child 18 or older,NaN,NaN,2,Single,0,0,0,Native,94,US,US,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1693.42,Below limit
3,ID_TZ0003,2,Female,Children,NaN,NaN,Never married,Asian or Pacific Islander,All other,Children or Armed Forces,NaN,0,0,NaN,0,0,Not in universe or children,0,NaN,0,Child <18 never marr not in subfamily,Child under 18 never married,Both parents present,NaN,0,Nonfiler,0,0,0,Native,94,US,India,India,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1380.27,Below limit
4,ID_TZ0004,70,Male,High school graduate,NaN,NaN,Married-civilian spouse present,White,All other,Not in labor force,NaN,0,0,NaN,0,0,Not in universe or children,0,NaN,0,Spouse of householder,Spouse of householder,NaN,NaN,2,Joint both 65+,0,0,0,Native,95,US,US,US,?,?,?,?,NaN,NaN,NaN,1580.79,Below limit

In [60]:
df.describe()

,age,employment_stat,wage_per_hour,working_week_per_year,industry_code,occupation_code,total_employed,vet_benefit,gains,losses,stocks_status,mig_year,importance_of_record
count,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000
mean,34.518728,0.176760,55.433487,23.158850,15.332398,11.321734,1.956067,1.515854,435.926887,36.881737,194.533420,94.499745,1740.888324
std,22.306738,0.555562,276.757327,24.397963,18.049655,14.460839,2.365154,0.850853,4696.359500,270.383302,1956.375501,0.500001,995.559557
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,94.000000,37.870000
25%,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,94.000000,1061.290000
50%,33.000000,0.000000,0.000000,8.000000,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,94.000000,1617.040000
75%,50.000000,0.000000,0.000000,52.000000,33.000000,26.000000,4.000000,2.000000,0.000000,0.000000,0.000000,95.000000,2185.480000
max,90.000000,2.000000,9999.000000,52.000000,51.000000,46.000000,6.000000,2.000000,99999.000000,4608.000000,99999.000000,95.000000,18656.300000

In [61]:
print(df.dtypes)
print('===========')
print(df.info())

ID                                 object
age                                 int64
gender                             object
education                          object
class                              object
education_institute                object
marital_status                     object
race                               object
is_hispanic                        object
employment_commitment              object
unemployment_reason                object
employment_stat                     int64
wage_per_hour                       int64
is_labor_union                     object
working_week_per_year               int64
industry_code                       int64
industry_code_main                 object
occupation_code                     int64
occupation_code_main               object
total_employed                      int64
household_stat                     object
household_summary                  object
under_18_family                    object
veterans_admin_questionnaire       object
vet_benefit                         int64
tax_status                         object
gains                               int64
losses                              int64
stocks_status                       int64
citizenship                        object
mig_year                            int64
country_of_birth_own               object
country_of_birth_father            object
country_of_birth_mother            object
migration_code_change_in_msa       object
migration_prev_sunbelt             object
migration_code_move_within_reg     object
migration_code_change_in_reg       object
residence_1_year_ago               object
old_residence_reg                  object
old_residence_state                object
importance_of_record              float64
income_above_limit                 object
dtype: object
===========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209499 entries, 0 to 209498
Data columns (total 43 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID                              209499 non-null  object
 1   age                             209499 non-null  int64
 2   gender                          209499 non-null  object
 3   education                       209499 non-null  object
 4   class                           104254 non-null  object
 5   education_institute             13302 non-null   object
 6   marital_status                  209499 non-null  object
 7   race                            209499 non-null  object
 8   is_hispanic                     209499 non-null  object
 9   employment_commitment           209499 non-null  object
 10  unemployment_reason             6520 non-null    object
 11  employment_stat                 209499 non-null  int64
 12  wage_per_hour                   209499 non-null  int64
 13  is_labor_union                  20079 non-null   object
 14  working_week_per_year           209499 non-null  int64
 15  industry_code                   209499 non-null  int64
 16  industry_code_main              209499 non-null  object
 17  occupation_code                 209499 non-null  int64
 18  occupation_code_main            103805 non-null  object
 19  total_employed                  209499 non-null  int64
 20  household_stat                  209499 non-null  object
 21  household_summary               209499 non-null  object
 22  under_18_family                 57845 non-null   object
 23  veterans_admin_questionnaire    2084 non-null    object
 24  vet_benefit                     209499 non-null  int64
 25  tax_status                      209499 non-null  object
 26  gains                           209499 non-null  int64
 27  losses                          209499 non-null  int64
 28  stocks_status                   209499 non-null  int64
 29  citizenship                     209499 non-null  object
 30  mig_year                        209499 non-null  int64
 31  country_of_birth_own            209499 non-null  object
 32  country_of_birth_father         209499 non-null  object
 33  country_of_birth_mother         209499 non-null  object
 34  migration_code_change_in_msa    207911 non-null  object
 35  migration_prev_sunbelt          121047 non-null  object
 36  migration_code_move_within_reg  207911 non-null  object
 37  migration_code_change_in_reg    207911 non-null  object
 38  residence_1_year_ago            103215 non-null  object
 39  old_residence_reg               16351 non-null   object
 40  old_residence_state             16351 non-null   object
 41  importance_of_record            209499 non-null  float64
 42  income_above_limit              209499 non-null  object
dtypes: float64(1), int64(12), object(30)
memory usage: 68.7+ MB
None