In [1]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.4.0-1-cp39-cp39-macosx_12_0_arm64.whl (10.7 MB)
     |████████████████████████████████| 10.7 MB 23.4 MB/s eta 0:00:01
Collecting numpy<2.0,>=1.19.5
  Downloading numpy-1.26.3-cp39-cp39-macosx_11_0_arm64.whl (14.0 MB)
     |████████████████████████████████| 14.0 MB 454 kB/s eta 0:00:01     |█████████████████               | 7.5 MB 452 kB/s eta 0:00:15
Collecting scipy>=1.6.0
  Downloading scipy-1.12.0-cp39-cp39-macosx_12_0_arm64.whl (31.4 MB)
     |████████████████████████████████| 31.4 MB 548 kB/s eta 0:00:01
Collecting joblib>=1.2.0
  Using cached joblib-1.3.2-py3-none-any.whl (302 kB)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: numpy, threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.3.2 numpy-1.26.3 scikit-learn-1.4.0 scipy-1.12.0 threadpoolctl-3.2.0
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install termcolor

Requirement already satisfied: termcolor in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (2.4.0)
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install plotly

Collecting plotly
  Downloading plotly-5.18.0-py3-none-any.whl (15.6 MB)
     |████████████████████████████████| 15.6 MB 1.0 MB/s eta 0:00:01
Collecting tenacity>=6.2.0
  Using cached tenacity-8.2.3-py3-none-any.whl (24 kB)
Requirement already satisfied: packaging in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from plotly) (23.2)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.18.0 tenacity-8.2.3
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install imblearn

Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.12.0-py3-none-any.whl (257 kB)
     |████████████████████████████████| 257 kB 2.1 MB/s eta 0:00:01
Requirement already satisfied: scipy>=1.5.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.12.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (3.2.0)
Requirement already satisfied: joblib>=1.1.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.3.2)
Requirement already satisfied: scikit-learn>=1.0.2 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.4.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from imbalanced-learn->imblearn) (1.26.3)
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.12.0 imblearn-0.0
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install squarify

Collecting squarify
  Downloading squarify-0.4.3-py3-none-any.whl (4.3 kB)
Installing collected packages: squarify
Successfully installed squarify-0.4.3
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

SyntaxError: invalid syntax (2435581788.py, line 1)

In [3]:
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.8.2-cp39-cp39-macosx_11_0_arm64.whl (7.5 MB)
     |████████████████████████████████| 7.5 MB 14.3 MB/s eta 0:00:01
Collecting cycler>=0.10
  Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Collecting pyparsing>=2.3.1
  Using cached pyparsing-3.1.1-py3-none-any.whl (103 kB)
Collecting pillow>=8
  Downloading pillow-10.2.0-cp39-cp39-macosx_11_0_arm64.whl (3.3 MB)
     |████████████████████████████████| 3.3 MB 15.6 MB/s eta 0:00:01
Collecting fonttools>=4.22.0
  Downloading fonttools-4.47.2-cp39-cp39-macosx_10_9_universal2.whl (2.8 MB)
     |████████████████████████████████| 2.8 MB 11.0 MB/s eta 0:00:01
Requirement already satisfied: numpy<2,>=1.21 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib) (1.26.3)
Collecting kiwisolver>=1.3.1
  Downloading kiwisolver-1.4.5-cp39-cp39-macosx_11_0_arm64.whl (66 kB)
     |████████████████████████████████| 66 kB 10.5 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib) (2.8.2)
Collecting contourpy>=1.0.1
  Downloading contourpy-1.2.0-cp39-cp39-macosx_11_0_arm64.whl (242 kB)
     |████████████████████████████████| 242 kB 16.0 MB/s eta 0:00:01
Collecting importlib-resources>=3.2.0
  Using cached importlib_resources-6.1.1-py3-none-any.whl (33 kB)
Requirement already satisfied: packaging>=20.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib) (23.2)
Requirement already satisfied: zipp>=3.1.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.17.0)
Requirement already satisfied: six>=1.5 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, importlib-resources, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.2.0 cycler-0.12.1 fonttools-4.47.2 importlib-resources-6.1.1 kiwisolver-1.4.5 matplotlib-3.8.2 pillow-10.2.0 pyparsing-3.1.1
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
     |████████████████████████████████| 294 kB 7.2 MB/s eta 0:00:01
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from seaborn) (1.26.3)
Requirement already satisfied: pandas>=1.2 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from seaborn) (2.2.0)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from seaborn) (3.8.2)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.47.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.1.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: packaging>=20.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: cycler>=0.10 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: zipp>=3.1.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.17.0)
Requirement already satisfied: tzdata>=2022.7 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from pandas>=1.2->seaborn) (2023.4)
Requirement already satisfied: pytz>=2020.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install matplotlib-venn

Collecting matplotlib-venn
  Downloading matplotlib_venn-0.11.10-py3-none-any.whl (33 kB)
Requirement already satisfied: matplotlib in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib-venn) (3.8.2)
Requirement already satisfied: numpy in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib-venn) (1.26.3)
Requirement already satisfied: scipy in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib-venn) (1.12.0)
Requirement already satisfied: cycler>=0.10 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib->matplotlib-venn) (0.12.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib->matplotlib-venn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib->matplotlib-venn) (23.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib->matplotlib-venn) (1.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib->matplotlib-venn) (3.1.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib->matplotlib-venn) (4.47.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib->matplotlib-venn) (6.1.1)
Requirement already satisfied: pillow>=8 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib->matplotlib-venn) (10.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from matplotlib->matplotlib-venn) (2.8.2)
Requirement already satisfied: zipp>=3.1.0 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib->matplotlib-venn) (3.17.0)
Requirement already satisfied: six>=1.5 in /Users/ephraim888sun/.pyenv/versions/3.9.6/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib->matplotlib-venn) (1.16.0)
Installing collected packages: matplotlib-venn
Successfully installed matplotlib-venn-0.11.10
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install tqdm

Collecting tqdm
  Using cached tqdm-4.66.1-py3-none-any.whl (78 kB)
Installing collected packages: tqdm
Successfully installed tqdm-4.66.1
WARNING: You are using pip version 21.1.3; however, version 23.3.2 is available.
You should consider upgrading via the '/Users/ephraim888sun/.pyenv/versions/3.9.6/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [11]:
# Import data processing & analysis packages.

## Data Processing.
import pandas as pd
import numpy as np
import os

## Data Visualisation.
import matplotlib.pyplot as plt
import seaborn as sns
from termcolor import colored
import plotly.express as px
from matplotlib_venn import venn2

## Machine Learning.

from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score,accuracy_score,classification_report
from tqdm import tqdm
from itertools import cycle
from sklearn import metrics
from sklearn import model_selection
from sklearn import preprocessing
from sklearn import feature_selection
import squarify
import imblearn

## Warning indication.
import warnings
warnings.filterwarnings('always')

In [12]:
# Find data extraction path.

os.getcwd()

'/Users/ephraim888sun/Code/class/spring2024/CS7324/ML7324_Project_1_Income'

In [13]:
# Import Datasets.

train = pd.read_csv("Train.csv")
test = pd.read_csv("Test.csv")

income_level = ['income_above_limit']

# The target column to be used for training 
target_column      = train[income_level]

# Drop unique identifiers
Cols2drop          = ['ID']

# Set all the columns to be visible.
pd.set_option('display.max_columns', None)


# Feature set corresponding to train and test data
train_df           = train.drop(Cols2drop,axis=1)
test_df            = test.drop(Cols2drop,axis=1)

print(colored(f'The shape of train data is    {train_df.shape}     ','green',attrs=['bold']))

print(colored(f'The shape of target column is {target_column.shape}','green',attrs=['bold']))

print(colored(f'The shape of test data is     {test_df.shape}      ','blue',attrs=['bold']))

print('------------------------------------------------------------------------------')
print(colored('The train data looks like below :- \n','green'))
display(train_df.head(5))

print('------------------------------------------------------------------------------')
print(colored('The test data looks like below :- \n','blue'))
display(test_df.head(5))

The shape of train data is    (209499, 42)
The shape of target column is (209499, 1)
The shape of test data is     (89786, 41)
------------------------------------------------------------------------------
The train data looks like below :-

,age,gender,education,class,education_institute,marital_status,race,is_hispanic,employment_commitment,unemployment_reason,employment_stat,wage_per_hour,is_labor_union,working_week_per_year,industry_code,industry_code_main,occupation_code,occupation_code_main,total_employed,household_stat,household_summary,under_18_family,veterans_admin_questionnaire,vet_benefit,tax_status,gains,losses,stocks_status,citizenship,mig_year,country_of_birth_own,country_of_birth_father,country_of_birth_mother,migration_code_change_in_msa,migration_prev_sunbelt,migration_code_move_within_reg,migration_code_change_in_reg,residence_1_year_ago,old_residence_reg,old_residence_state,importance_of_record,income_above_limit
0,79,Female,High school graduate,NaN,NaN,Widowed,White,All other,Not in labor force,NaN,0,0,NaN,52,0,Not in universe or children,0,NaN,2,Householder,Householder,NaN,NaN,2,Head of household,0,0,292,Native,95,US,US,US,?,?,?,?,NaN,NaN,NaN,1779.74,Below limit
1,65,Female,High school graduate,NaN,NaN,Widowed,White,All other,Children or Armed Forces,NaN,0,0,NaN,0,0,Not in universe or children,0,NaN,0,Nonfamily householder,Householder,NaN,NaN,2,Single,0,0,0,Native,94,US,US,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,2366.75,Below limit
2,21,Male,12th grade no diploma,Federal government,NaN,Never married,Black,All other,Children or Armed Forces,NaN,0,500,No,15,41,Hospital services,26,Adm support including clerical,4,Child 18+ never marr Not in a subfamily,Child 18 or older,NaN,NaN,2,Single,0,0,0,Native,94,US,US,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1693.42,Below limit
3,2,Female,Children,NaN,NaN,Never married,Asian or Pacific Islander,All other,Children or Armed Forces,NaN,0,0,NaN,0,0,Not in universe or children,0,NaN,0,Child <18 never marr not in subfamily,Child under 18 never married,Both parents present,NaN,0,Nonfiler,0,0,0,Native,94,US,India,India,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1380.27,Below limit
4,70,Male,High school graduate,NaN,NaN,Married-civilian spouse present,White,All other,Not in labor force,NaN,0,0,NaN,0,0,Not in universe or children,0,NaN,0,Spouse of householder,Spouse of householder,NaN,NaN,2,Joint both 65+,0,0,0,Native,95,US,US,US,?,?,?,?,NaN,NaN,NaN,1580.79,Below limit

------------------------------------------------------------------------------
The test data looks like below :-

,age,gender,education,class,education_institute,marital_status,race,is_hispanic,employment_commitment,unemployment_reason,employment_stat,wage_per_hour,is_labor_union,working_week_per_year,industry_code,industry_code_main,occupation_code,occupation_code_main,total_employed,household_stat,household_summary,under_18_family,veterans_admin_questionnaire,vet_benefit,tax_status,gains,losses,stocks_status,citizenship,mig_year,country_of_birth_own,country_of_birth_father,country_of_birth_mother,migration_code_change_in_msa,migration_prev_sunbelt,migration_code_move_within_reg,migration_code_change_in_reg,residence_1_year_ago,old_residence_reg,old_residence_state,importance_of_record
0,54,Male,High school graduate,Private,NaN,Married-civilian spouse present,White,All other,Children or Armed Forces,NaN,0,600,No,46,29,Transportation,38,Transportation and material moving,2,Householder,Householder,NaN,NaN,2,Joint both under 65,0,0,0,Native,94,US,US,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,3388.96
1,53,Male,5th or 6th grade,Private,NaN,Married-civilian spouse present,White,Central or South American,Full-time schedules,NaN,0,0,NaN,52,5,Manufacturing-durable goods,37,Machine operators assmblrs & inspctrs,4,Householder,Householder,NaN,NaN,2,Joint both under 65,0,0,0,Foreign born- Not a citizen of U S,95,El-Salvador,El-Salvador,El-Salvador,?,?,?,?,NaN,NaN,NaN,1177.55
2,42,Male,Bachelors degree(BA AB BS),Private,NaN,Married-civilian spouse present,White,All other,Full-time schedules,NaN,1,0,NaN,44,37,Business and repair services,4,Professional specialty,5,Householder,Householder,NaN,NaN,2,Joint both under 65,15024,0,500,Native,95,US,US,US,?,?,?,?,NaN,NaN,NaN,4898.55
3,16,Female,9th grade,NaN,High school,Never married,White,All other,Children or Armed Forces,NaN,0,0,NaN,8,0,Not in universe or children,0,NaN,6,Child <18 never marr not in subfamily,Child under 18 never married,Both parents present,NaN,2,Single,0,0,0,Native,94,US,US,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1391.44
4,16,Male,9th grade,NaN,High school,Never married,White,All other,Not in labor force,NaN,0,0,NaN,0,0,Not in universe or children,0,NaN,0,Child <18 never marr not in subfamily,Child under 18 never married,Both parents present,NaN,2,Nonfiler,0,0,0,Native,95,US,US,US,?,?,?,?,NaN,NaN,NaN,1933.18